body {
  background-color: #f8f9fa;
}

h1 span {
  color: #0d6efd;
}

.btn-lg {
  padding: 10px 20px;
}

img .home {
  border-radius: 50%;
}

.btn {
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}
